<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <!--属性定义-->
    <properties name="LogRoot"  value="xxxxx"/><!-- 定义日志文件路径-->
    <properties name="MaxHistory"   value="30"/><!-- 历史文件保存的时间-->
    <properties name="MaxFileScan"  value="100MB"/><!-- 文件分割大小-->

</configuration>
